body{
    padding: 100px;
}
.bangladesh{
    color: red;
}
.submit-area{
    color: red;
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(62, 255, 62);
}
#transaction-area{
    display: none;
}
.status{
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.deposit{
    background-color: rgb(0, 177, 27);
}
.withdraw{
    background-color: rgb(255, 60, 60);
}
.balance{
    background-color: rgb(0, 177, 27);
}
